-$A8
-$B-
-$C-
-$D-
-$E-
-$F-
-$G+
-$H+
-$I+
-$J-
-$K-
-$L-
-$M-
-$N+
-$O+
-$P+
-$Q-
-$R-
-$S-
-$T-
-$U-
-$V+
-$W-
-$X+
-$Y-
-$Z1
-cg
-AWinTypes=Windows;WinProcs=Windows;DbiTypes=BDE;DbiProcs=BDE;DbiErrs=BDE;
-H+
-W+
-M
-$M16384,1048576
-K$00400000
-E"{directories_output_dir}"
-N"{directories_unit_output_dir}"
-LE"C:\Program Files (x86)\Borland\Delphi7\Projects\Bpl"
-LN"C:\Program Files (x86)\Borland\Delphi7\Projects\Bpl"
-U"{search_path}"
-O"{search_path}"
-I"{search_path}"
-R"{search_path}"
-w-GARBAGE
-w-UNSAFE_TYPE
-w-UNSAFE_CODE
-w-UNSAFE_CAST
{conditionals}
